.right-default {
  width: 50%;
  background-color: #FBBA72;
  height: 100vh;
  transition: 4s;
  overflow: scroll;
  /* border: 1px solid black; */
}

.right-linkedin {
  width: 50%;
  background-color: #A31621;
  height: 100vh;
  transition: 4s;
  overflow: scroll;
}

.right-github {
  width: 50%;
  background-color: #90C2E7;
  height: 100vh;
  overflow: scroll;
  transition: 4s;
}

.default {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: #FBBA72;
  padding: 1.5em;
  text-decoration: none;
  margin-right: 2em;
  left: 30%;
  /* border: 1px solid black; */
  outline:none;
border:none;
transition: 4s;
}

.links {
  overflow: hidden;
}

.introduction-paragraph {
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
  height: 2em;
  /* border: 1px solid black; */
  /* text-align: center; */
  margin-top: 10em;
  font-size: 2em;
  margin-bottom: 10em;
  /* overflow: scroll; */
margin-left: 7em;
left: 30%;

}

.linkedin {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: #A31621;
  padding: 1.5em;
  text-decoration: none;
  margin-right: 2em;
  left: 30%;
  transition: 4s;
}

.linkedin-github {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: #90C2E7;
  padding: 1.5em;
  text-decoration: none;
  margin-right: 2em;
  left: 30%;
  transition: 4s;
}


.github {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: #90C2E7;
  padding: 1.5em;
  text-decoration: none;
  /* border: 1px solid black; */
  margin-right: 2em;
  left: 30%;
  transition: 4s;
}

.github-linkedin {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: #A31621;
  padding: 1.5em;
  text-decoration: none;
  /* border: 1px solid black; */
  margin-right: 2em;
  left: 30%;
  transition: 4s;
}

/* 600px, 900px, 1200px, and 1800px */
@media only screen and (max-width: 600px) {
  .right-default {
    width: 100%;
  }

  .introduction-paragraph {
    margin: 3em 0 5em 5em;
  }

  .default {
    left: 20%;
    font-size: 1.25em;
  }

  .linkedin {
    left: 20%;
    font-size: 1.25em;
  }

  .github {
    left: 20%;
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 601px) {
  .right-default {
    width: 100%;
  }

  .introduction-paragraph {
    margin: 3em 0 5em 5em;
  }

  .default {
    left: 20%;
    font-size: 1.25em;
  }

  .linkedin {
    left: 20%;
    font-size: 1.25em;
  }

  .github {
    left: 20%;
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 900px) {
  .right-default {
    width: 50%;
    height: 100vh;
  }

  .introduction-paragraph {
    margin: 8em 0 5em 3em;
  }

  .default {
    font-size: 1em;
  }

  .linkedin {
    font-size: 1em;
  }

  .github {
    font-size: 1em;
  }

  .github-linkedin {
    left: 20%;
  }

  .linkedin-github {
    left: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .introduction-paragraph {
    margin: 8em 0 12em 5em;
  }

  .default {
    font-size: 1.25em;
    left: 15%;
  }

  .linkedin {
    font-size: 1.25em;
    left: 15%;
  }

  .github {
    font-size: 1.25em;
    left: 15%;
  }

  .github-linkedin {
    font-size: 1.25em;
    left: 15%;
  }

  .linkedin-github {
    font-size: 1.25em;
    left: 15%;
  }
}

@media only screen and (min-width: 1800px) {
  .introduction-paragraph {
    margin: 8em 0 15em 5em;
    font-size: 3em;
  }

  .default {
    font-size: 2em;
    margin-right: 1em;
  }

  .linkedin {
    font-size: 2em;
    margin-right: 1em;
  }

  .github {
    font-size: 2em;
    margin-right: 1em;
  }

  .github-linkedin {
    font-size: 2em;
    margin-right: 1em;
    left: 20%;
  }

  .linkedin-github {
    font-size: 2em;
    margin-right: 1em;
    left: 20%;
  }
}
