.right-default {
  width: 50%;
  background-color: white;
  height: 100vh;
}

.right-linkedin {
  width: 50%;
  background-color: blue;
  height: 100vh;
  transition: 2s;
}

.right-github {
  width: 50%;
  background-color: red;
  height: 100vh;
  transition: 2s;
}

.default {
  position: relative;
  left: 30%;
  text-align: center;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: white;
  border-radius: 8%;
  padding: 1.5em;
  text-decoration: none;
  border: 2px solid black;
  margin-right: 2em;
}



.introduction-paragraph {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: block;
  border: 1px solid black;
  margin-top: 10em;
  margin-bottom: 30em;
}

.github {
  position: relative;
  left: 30%;
  text-align: center;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: white;
  border-radius: 8%;
  padding: 1.5em;
  text-decoration: none;
  border: 2px solid black;
  margin-right: 2em;

}
.linkedin {
  position: relative;
  left: 30%;
  text-align: center;
  display: inline-block;
  width: 5em;
  color: black;
  background-color: white;
  border-radius: 8%;
  padding: 1.5em;
  text-decoration: none;
  border: 2px solid black;
  margin-right: 2em;
}
