#left {
  background-color: grey;
  width: 50%;
  height: 100vh;
}


.name-default {
  color: black;
  text-align: center;
  position: relative;
  top: 50%;
}

.name-github {
  color: purple;
  text-align: center;
  position: relative;
  top: 50%;
}

.name-linkedin {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
}
