.left-default {
  width: 50%;
  height: 100vh;

  transition: 4s;

  background-color: #FBBA72;
}

.left-linkedin {
  width: 50%;
  height: 100vh;

  transition: 4s;

  background-color: #A31621;
}

.left-github {
  width: 50%;
  height: 100vh;

  transition: 4s;

  background-color: #90C2E7;
}

.link-description {
  position: relative;
  top: 25%;
  left: 25%;

  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

.name-character {
  margin: 0;

  transition: 4s;
  white-space:pre;

}
.name-character:hover {
  transition: 1s;

  color: rgb(61, 213, 255);
}


.name-default {
  position: relative;
  top: 25%;
  left: 25%;

  display: flex;

  max-width: 3em;

  text-align: left;

  color: black;

  font-family: 'Work Sans', sans-serif;
  font-size: 9em;
  font-weight: bold;
}

.name-github {
  position: relative;
  top: 25%;
  left: 25%;

  display: flex;

  text-align: left;

  color: #4E8098;

  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.name-linkedin {
  position: relative;
  top: 25%;
  left: 25%;

  display: flex;

  text-align: left;

  color: #FCF7F8;

  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .name-default {
    font-size: 7em;
  }

  .left-default {
    width: 100%;
    height: 25em;
  }

  .left-linkedin {
    width: 100%;
  }

  .left-github {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .left-default {
    width: 100%;
    height: 25em;
  }

  .name-default {
    font-size: 7em;
  }

  .left-linkedin {
    width: 100%;
  }

  .left-github {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .left-default {
    width: 50%;
    height: 100vh;
  }
  .name-default {
    font-size: 5em;
  }

  .left-linkedin {
    width: 50%;
  }

  .left-github {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .name-default {
    font-size: 9em;
  }
}

@media only screen and (min-width: 1800px) {
  .name-default {
    font-size: 14em;
  }

  .name-github {
    top: 25%;
    left: 25%;

    color: #4E8098;

    font-size: 7em;
  }

  .name-linkedin {
    top: 25%;
    left: 25%;

    color: #FCF7F8;

    font-size: 7em;
  }

  .link-description {
    top: 25%;
    left: 25%;

    font-size: 2em;
  }
}
