#left {
  background-color: grey;
  width: 50%;
  height: 100vh;
}


/* .default {
  color: black;
  text-align: center;
  position: relative;
  top: 50%;
}

.linkedin {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
} */
